<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEWORK PART 4</title>
</head>
<body>
    <div id="myDiv">
        <input id="number1Input" placeholder="Enter number 1">
        <input id="number2Input" placeholder="Enter number 2">
        <input id="number3Input" placeholder="Enter number 3">
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="../src/part4.js"></script>
</body>
</html>